/* header 영역 */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.header-text {
    text-align: center;
}

.header-text-title {
    font-size: 50px;
    color: rgb(197, 33, 33);
    line-height: 80px;
    font-weight: bolder;
}

.header-text-intro {
    font-size: 20px;
    color: rgb(116, 114, 114);
    line-height: 30px;
}

/* main 영역 */
.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* footer 영역 */
.footer {
    padding: 40px 0;
    font-size: 15px;
    color: #57606a;
}

.footer-inner {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-center {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo {
    width: 30px;
    height: 30px;
    object-fit: contain;
}