/* header 영역 */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.header-text {
  text-align: center;
}

.header-text-title {
  font-size: 50px;
  color: rgb(197, 33, 33);
  line-height: 80px;
  font-weight: bolder;
}

.header-text-intro {
  font-size: 20px;
  color: rgb(116, 114, 114);
  line-height: 30px;
}

/* main 영역 */
a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.members {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.member {
  width: 180px;
  margin: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.img-container {
  display: flex;
  justify-content: center;
  padding: 0.2px;
  border: 6px solid rgb(47, 255, 50);
  border-radius: 100px;
}

.member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 5px;

  display: flex;
  flex-direction: column;

  background-color: rgb(215, 215, 215);
}

.member-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.member-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.member-name-en {
  text-transform: uppercase;

  font-weight: 600;
}

.member-desc {
  width: 160px;
  overflow: hidden;
}
.job {
  font-weight: 500;
}
.comment {
  font-size: 15px;
  font-weight: 400;

  color: rgb(41, 41, 41);
}

/* footer 영역 */
.footer {
  padding: 40px 0;
  font-size: 15px;
  color: #57606a;
}

.footer-inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-center {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
