/* header 영역 */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}
.header-text {
  text-align: center;
}
.header-text-title {
  font-size: 50px;
  color: rgb(197, 33, 33);
  line-height: 80px;
  font-weight: bolder;
}
.header-text-intro {
  font-size: 20px;
  color: rgb(116, 114, 114);
  line-height: 30px;
}
/* main 영역 */
.member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

/* footer 영역 */
