.nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 30px;
}
a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
  color: rgb(146, 146, 146);
}
p {
  max-width: 500px;
  text-align: center;
  font-size: 18px;
  color: #444;
  line-height: 30px;
}
.header {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
  margin: 10px;
}

.img {
  display: flex;
  justify-content: center;
  width: 100%;
}
.img-i {
  width: 350px;
  height: 100%;
}

li {
  line-height: 30px;
}

body {
  background-color: rgb(251, 247, 241);
}
