header {
  display: flex;
  justify-content:center;
  padding: 15px 20px;

  font-size: 13px;
  font-weight: 200;
  font-family: Pretendard;
  /* border: 1px solid black; */
}

/* ------main------- */
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  padding: 10px 20px;
  gap: 20px;
  
  /* border: 1px solid black; */
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  padding: 20px 20px;
  gap: 10px;

  border-radius: 8px;
  box-shadow: 2px 0px 15px rgba(34, 17, 1, 0.115);

  color: rgb(42, 42, 42);
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  font-family: Pretendard;
  /* border: 1px solid black; */
}
.contents {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  

  line-height: 25px;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  font-family: Pretendard;
  /* border: 1px solid black; */
}
}
.bottom_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;

  border-radius: 8px;
  box-shadow: 2px 0px 15px rgba(34, 17, 1, 0.115);

  color: rgb(42, 42, 42);
  font-size: 12px;
  font-family: Pretendard;
  /* border: 1px solid black; */
}
.bottom_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 20px;
  

  font-size: 10px;
  line-height: 25px;
  font-weight: 400;
  text-align: left;
  font-family: Pretendard;
  /* border: 1px solid black; */
}

/* ------footer------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  
  font-size: 8px;
  font-family: Pretendard;
  /* border: 1px solid black; */
}

img {
  border-radius: 20px;
  width: 100%;
  max-width: 80px;
  height: auto;
}