header {
  display: flex;
  justify-content:center;
  padding: 20px 20px;

  font-size: 22px;
  font-weight: 200;
  font-family: Pretendard;
  /* border: 1px solid black; */
}
/* -----nav----- */
nav{
  display: flex;
  justify-content: center;
  padding: 20px 200px;
  
  /* border: 1px solid black; */
}
.index {
  color: rgb(32, 32, 32);
  font-size: 18px;
  font-weight: 600;
  font-family: Pretendard;
  text-decoration: none;

  /* border: 1px solid black; */
}

/* ------main------- */
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  padding: 10px 20px;
  gap: 20px;
  
  /* border: 1px solid black; */
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  padding: 50px 20px;
  gap: 10px;

  border-radius: 8px;
  box-shadow: 2px 0px 15px rgba(34, 17, 1, 0.115);

  color: rgb(32, 32, 32);
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  font-family: Pretendard;
  /* border: 1px solid black; */
}
.contents {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  
  color: rgb(25, 25, 25);
  line-height: 50px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  font-family: Pretendard;
  /* border: 1px solid black; */
}

.bottom_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 20px;
  

  font-size: 22px;
  line-height: 40px;
  font-weight: 400;
  text-align: left;
  font-family: Pretendard;
  /* border: 1px solid black; */
}

/* ------footer------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  
  font-size: 18px;
  font-family: Pretendard;
  /* border: 1px solid black; */
}

img {
  border-radius: 20px;
  width: 100%;
  max-width: 120px;
  height: auto;
}